  // CARD================

  .card-header {
      background-color: $blue !important;
      border-radius: 15px 15px 0px 0px !important;

  }

  .card {
      box-shadow: 3px 3px 10px rgb(151, 151, 151) !important;
      border-radius: 15px !important;
  }