  // FONTS
  // ================================================================

  @font-face {
      font-family: "font-1";
      src: url(../assets/fonts/Nunito-Medium.ttf);
  }

  @font-face {
      font-family: "font-2";
      src: url(../assets/fonts/Poppins-Regular.ttf);
  }

  $font-1: "font-1",
  sans-serif;
  $font-2: "font-2",
  sans-serif;


  // VARIABLES
  // ================================================================

  $blue1: rgb(20, 39, 71);
  $blue2: rgb(102, 120, 176);
  $blue3: rgb(156, 161, 204);
  $blue4: rgb(176, 178, 214);
  $blue5: rgb(214, 217, 235);
  $blue: rgb(46, 84, 150);

  $red: rgb(231, 51, 51);
  $red1: rgb(237, 109, 99);

  $yellow: rgb(255, 237, 0);
  $yellow1: rgb(244, 229, 90);

  $black: rgb(40, 41, 49);
  $White: rgb(245, 245, 250);


  // ================================================================

  @mixin verticalCenter {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  // RESET CSS
  // ===============================================================

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

  // GLOBAL
  // ================================================================

  body {
      font-family: $font-2;
      color: $black;
      background-color: $White;
  }

  h1 {
      font-family: $font-1;
      color: $blue;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 30px;

  }

  h2 {
      font-family: $font-1;
      color: $blue;
      text-align: center;
      padding-top: 20px;
      margin-bottom: 30px;
  }

  h3 {
      padding-top: 10px;
      font-family: $font-1;
      color: $White;
      text-align: center;
      text-transform: uppercase;
      font-weight: 500;

  }

  h4 {
      padding-top: 10px;
      font-family: $font-1;
      color: $blue1;
      text-align: center;
      //   text-transform: uppercase;
      font-weight: 500;

  }


  h5 {
      font-family: $font-1;
      color: $blue1;
  }